.introductionText {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-weight: 500;
    background-color: #768AA5;
    color: white;
}

.bg-body-tertiary {
    background-color: #768AA5 !important;
}

/* #93B0D0  */

.navbar {
    --bs-emphasis-color-rgb: 255,255,255;
}

.link {
    font-weight: 500;
    color: black;
  }